.portal {
    width: 300px;
}

.portal .card-content {
    padding: 0;
}

::placeholder {
    color: silver !important;
}

input {
    background-color: #2B3E50 !important;
    color: white !important;
}

@media (max-width: 640px) { 
    .portal {
        position: static !important;
        width: 100% !important;

    }   
}